<section class="management-view">
    <h1><%= title %></h1>

    <%- messages() %>

    <% if (errors && errors.length) { %>
        <ul class="notice">
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>

    <form action="/inv/delete-item" method="POST" class="auth-form">
        <input type="hidden" name="inventory_id" value="<%= inventory_id %>">

        <p>Are you sure you want to delete this inventory item?</p>

        <button type="submit">Delete Inventory</button>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" 
        <% } %>>
    </form>

</section>